/* Set the size of the div element that contains the map */
#map {
	margin-left: 100px;
	height: 550px;
	width: 100%;
      }

   
      /* main body */
.main__body {
	display: flex;
	height: 100px;
	/* margin-left: 35%; */
}
.emailRow {
	display: flex;
	align-items: center;
	height: 50px;
	border-bottom: 1px solid whitesmoke;
	cursor: pointer;
}
      
.emailRow:hover {
	border-top: 1px solid whitesmoke;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}      
h4{
	font-size: 12.5px;
	color: darkgray;
}
.emailList {
	flex: 1;
	overflow: scroll;
}